body {
    margin: 0;

    color: #2a2626;

    font-size: 16px;
    font-family: "Open Sans", sans-serif;

    line-height: 1.6em;
}

h1,
h2,
h3,
h4 {
margin: 0;

font-weight: normal;
font-family: "Neucha", cursive;

line-height: 1.2em;
}

*::before,
*::after {
box-sizing: border-box;
}

h1 {
font-size: 72px;
}

h2 {
font-size: 60px;
}

h3 {
font-size: 34px;
}

.title-orange {
color: #fe8a02;
}

/* Container */



/* Цвета
Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5

Шрифты
В качестве основного шрифта используется Open Sans
Для заголовков используется шрифт Neucha
Размер шрифта: 16px
Межстрочный интервал: 1.6em
Цвет шрифта: #2A2626

Заголовки
Межстрочный интервал заголовков: 1.2em
Размер заголовка первого уровня: 72px
Размер заголовка второго уровня: 60px
Размер заголовка третьего уровня: 34px

Секции
Ограничение по ширине контента: 1110px
Выравнивание по центру
Отступы по 100 пикселей сверху и снизу
 */